<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>489135632905-6gdk211pqcg0bolqmq8621a5h7phm5tc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.489135632905-6gdk211pqcg0bolqmq8621a5h7phm5tc</string>
	<key>API_KEY</key>
	<string>AIzaSyBjhLHG6kw-xASnWgAOIHnN1tuoBNu0OoI</string>
	<key>GCM_SENDER_ID</key>
	<string>489135632905</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.fgdevteam.fgreactapp</string>
	<key>PROJECT_ID</key>
	<string>fg-react-app</string>
	<key>STORAGE_BUCKET</key>
	<string>fg-react-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:489135632905:ios:c27cb367dbdadf7b2a3ed8</string>
	<key>DATABASE_URL</key>
	<string>https://fg-react-app-default-rtdb.firebaseio.com</string>
</dict>
</plist>